:root {
    --redPrimary: hsl(0, 100%, 74%);
    --greenPrimary: hsl(154, 59%, 51%);
    --blueAccent: hsl(248, 32%, 49%);
    --darkBlue:  hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}

* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 99vh;
    background: url(images/bg-intro-desktop.png) var(--redPrimary);
}

h1 {
    font-size: 50px;
    color: white;
}

#wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
}

.introTitle {
    width: 50%;
}


.introForm {
    width: 50%;
}